.container {
    display: table;
    height: 100%;
    width: 100%;
}

.half {
    display: table-cell;
    width: 50%;
}

.menu {
    padding-bottom: 8px;
    border-bottom: 1px solid grey;
}

.menu a {
    padding-left: 8px;
    padding-right: 8px;
}

table {
    border-collapse: collapse;
}

.vehicles-table th, .vehicles-table td, .orders-table th, .orders-table td {
    border: 1px solid rgb(200 200 200);
    padding: 0px 10px;
}

.order-delivered { background-color: #90EE90; }
.order-selected { background-color: #FFD700; }
