<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block title -%}
    <title>{{title}}</title>
    {% endblock %}
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet">
</head>
<body>
<header>
    <div class="menu">
        <a href="/index">Главная</a>

        <a href="/edit_orders">Редактировать заказы</a>

        <a href="/edit_delivery_zones">Редактировать зоны доставки</a>

        <a href="/edit_vehicles">Редактировать машины</a>

        <a href="/build_routes">Построить маршруты</a>
    </div>
</header>
<h2>{{title}}</h2>
{% block content -%}

{% endblock %}
</body>
</html>