{% extends 'base.html' %}

{% block content %}
<main>
    <form action="/load_data" method="post">
        <button name="load_data" value="">Обновить данные</button>
    </form>
    <section class="container">
        <div class="half">
            <form action="/run_vrp" method="post">
                <button name="run_vrp" value="">Построить маршруты</button>

                <fieldset style="overflow-y:scroll; height: 256px;">
                    <legend>Выберите машины, которые будут участвовать в распределении</legend>
                    <ul>
                        {% for v in vehicles %}
                        <li>
                            <input type="checkbox" name="select_vehicle_{{v['id']}}" id="select_vehicle_{{v['id']}}"
                                   checked>
                            <label for="select_vehicle_{{v['id']}}">{{ v["name"] }}</label>
                            {{ v["category"] }}
                            {{ v["dimensions"] }}
                            Начало смены:
                            <input type="time" name="work_start_{{v['id']}}" id="work_start_{{v['id']}}" value="{{shift_start_b if v['category'] == 'B' else shift_start_c}}">
                            Длительность смены:
                            <input type="time" name="work_duration_{{v['id']}}" id="work_duration_{{v['id']}}" value="{{shift_dur_b if v['category'] == 'B' else shift_dur_c}}">
                            <details>
                                <summary>Построенные маршруты</summary>
                                <ul>
                                    <li>
                                        <details>
                                            <summary>Маршрут {{ v["name"] }} 1</summary>
                                            <ol>
                                                {% for loc in v["routes"][0] %}
                                                <li>
                                                    {{ loc["address"]["string_address"] }}
                                                    {{ loc["arrival_time"] }}
                                                    {{ loc["load"] }}
                                                    {{ loc["wait_time"] }}
                                                </li>
                                                {% endfor %}
                                            </ol>
                                        </details>
                                    </li>
                                </ul>
                            </details>
                        </li>
                        {% endfor %}
                    </ul>
                </fieldset>

                <fieldset style="overflow-y:scroll; height: 256px;">
                    <legend>Выберите заказы, которые будут участвовать в распределении</legend>
                    <ul>
                        {% for o in orders %}
                        <li>
                            <input type="checkbox" name="select_order_{{o['id']}}" id="select_order_{{o['id']}}"
                                   checked>
                            <label for="select_order_{{o['id']}}">{{ o["number"] }}</label>
                            Client: {{ o["client_id"] }},
                            Address: {{ o["address"]["string_address"] }},
                            Delivery_zone: {{ o["address"]["delivery_zone_id"] }}
                            Total volume: {{ o["volume"] }}
                        </li>
                        {% endfor %}
                    </ul>
                </fieldset>
            </form>
        </div>

        <div class="half">
            {{ folium_map|safe }}
            <p>Всего заказов: </p>
            <p>Пропущено: </p>
            <p>Успешно распределено: m из n</p>
            <p>Не распределено: </p>
        </div>
    </section>
</main>
{% endblock %}