{% extends 'base.html' %}

{% block content %}
<main>
    <form action="/load_data" method="post">
        <button name="load_data" value="">Обновить данные</button>
    </form>
    <section class="container">
        <div class="half">
            <form action="/run_vrp" method="post">
                <button name="run_vrp" value="">Построить маршруты</button>

                <fieldset style="overflow-y:scroll; height: 256px;">
                    <legend>Выберите машины, которые будут участвовать в распределении</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Машина</th>
                                <th>Категория</th>
                                <th>Объем</th>
                                <th>Начало смены</th>
                                <th>Длительность смены</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for v in vehicles %}
                            <tr>
                                <td>{{ v["id"] }}</td>
                                <td><input type="checkbox" name="select_vehicle_{{v['id']}}" id="select_vehicle_{{v['id']}}" checked>
                                    <label for="select_vehicle_{{v['id']}}">{{ v["name"] }}</label></td>
                                <td>{{ v["category"] }}</td>
                                <td>{{ v["dimensions"]["volume"] }}</td>
                                <td><input type="time" name="work_start_{{v['id']}}" id="work_start_{{v['id']}}" value="{{shift_start_b if v['category'] == 'B' else shift_start_c}}"></td>
                                <td><input type="time" name="work_duration_{{v['id']}}" id="work_duration_{{v['id']}}" value="{{shift_dur_b if v['category'] == 'B' else shift_dur_c}}"></td>
                            </tr>
                            {% for route in v["routes"] %}
                            <tr>
                                <td colspan="5">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Адрес</th>
                                                <th>Время прибытия</th>
                                                <th>Время ожидания</th>
                                                <th>Итоговая загрузка</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for loc in route %}
                                            <tr>
                                                <td>{{ loc["address"]["string_address"] }}</td>
                                                <td>{{ loc["arrival_time"] }}</td>
                                                <td>{{ loc["wait_time"] }}</td>
                                                <td>{{ loc["load"] }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endfor %}

                        </tbody>
                    </table>
                </fieldset>

                <fieldset style="overflow-y:scroll; height: 256px;">
                    <legend>Выберите заказы, которые будут участвовать в распределении</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>Заказ</th>
                                <th>Клиент</th>
                                <th>Адрес</th>
                                <th>Объем</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for o in orders %}
                            <tr>
                                <td><input type="checkbox" name="select_order_{{o['id']}}" id="select_order_{{o['id']}}"
                                   checked>
                                    <label for="select_order_{{o['id']}}">{{ o["number"] }}</label></td>
                                <td>{{ clients[o["client_id"]]["name"] }}</td>
                                <td>{{ o["address"]["string_address"] }}</td>
                                <td>{{ o["volume"] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>

        <div class="half">
            {{ folium_map|safe }}
            <p>Всего заказов: </p>
            <p>Пропущено: </p>
            <p>Успешно распределено: m из n</p>
            <p>Не распределено: </p>
        </div>
    </section>
</main>
{% endblock %}