{% extends 'base.html' %}

{% block content %}
<main>
    <button name="edit_vehicles" value="" form="edit_vehicles_form">Сохранить</button>
    <a href="/build_routes">
        <button name="build_routes">Перейти к построению маршрутов -></button>
    </a>
    <form action="/edit_vehicles" id="edit_vehicles_form" method="post">

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Категория</th>
                    <th>Внутренний объем</th>
                </tr>
            </thead>
            <tbody>
                {% for v in vehicles %}
                <tr>
                    <td>{{ v["id"] }}</td>
                    <td><input type="hidden" name="name_{{v['id']}}" value="{{ v['name'] }}">{{ v["name"] }}</td>
                    <td><select name="category_{{v['id']}}" id="category_{{v['id']}}">
                        <option value="C" {{ "selected" if v["category"] == "C" }}>C</option>
                        <option value="B" {{ "selected" if v["category"] == "B" }}>B</option>
                    </select></td>
                    <td> {{ v["dimensions"]["volume"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</main>
{% endblock %}
